{% extends 'base.html' %}

{% load static %}

{% block custom_css %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}


			<h1>Register</h1>

			<form action="" method="post">
			{% csrf_token %}
			
			{{ form_temp.non_field_errors }}
			{% for field in form_temp %}
    			
				<div class="form-group">
					{{ field.label_tag }}
					{{ field }}
					{{ field.errors }}
				</div>

			{% endfor %}



			<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		
{% endblock %}